/*GLOBAL*/

@font-face {
    font-family: Exo-Light;
    src: url(../Exo-Light.otf);
}

@font-face {
    font-family: Exo-Thin;
    src: url(../Exo-Thin.otf);
}

@font-face {
    font-family: Exo-Black;
    src: url(../Exo-Black.otf);
}


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	position: relative;
    background-color: white;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
}

/*Nav Bar Styles and Content*/

.logo {
    position: relative;
    left: 0px;
    top: 0px;
    margin-bottom: 100px;
}

.logo2 {
    position: fixed;
    right: 0px;
    top:0px;
}

.logo3 {
    position: fixed;
    right: 0px;
    bottom:0px;
}

.logo4 {
    position: fixed;
    left: 0px;
    bottom: 0px;
}

.displayed {
    display: block;
    position: absolute;
   top: 50%;
   left: 50%;
   width: 400px;
   height: 300px;
   margin-top: -150px; /* Half the height */
   margin-left: -200px;
}






div.pic {
    display: block;
    height: 100px;
    text-align: center;

}

div.pic2 {
    display: block;
    height: 200px;
    text-align: center;

}

div.begin {
    display: block;
    text-align: center;
    width: 100%;
    height: 200px;

}

.eye,.ear,.begin,.text,.eyeplusear {
    cursor: url('../img/pinchzero.ico'), default;
}



/*HEADER*/
header ul {
    list-style-type: inherit;
}

}

div.shiftright {
    position: absolute;
    margin-left: 40px;
}

#shiftup {
    margin-top: -20px
}
  

/*Link-styles*/


a:hover {
    text-decoration: underline;
    color: #FFFFE6;
}



i.fa{
	font-size:50px;
	color:#000099;
}

p {
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.5;

}

h1 {
    font-family: "exo-light";
    font-size: 18px;
    font-color: #3D3900;
    line-height: 185%;
}

h2 {
    font-family: "exo-thin";
    font-size: 30px;
    font-color: #3D3900;
    text-decoration: underline;
}

h3 {
    font-family: "courier";
    font-size: 14px;
    font-color: #3D3900;
    text-decoration: none;
}



/*Background Color for "About" Section and "Philosophy Section*/

.bg-primary, .bg-primary2 {
    background-color: #660000;
}

.bg-dark {
    color: #fff;
    background-color: #222;
}

.text-faded {
    color: rgba(255,255,255,.7);
}

aside {
    padding: 50px 0;
}

.no-padding {
    padding: 0;
}

.animation3 {
    height: 300px;
    width: 400px;
    background-image: url(../img/vortex.gif);
    margin-top: 90px;
    margin-left: -30px;
}


/*
 * Add as many @media query break points as you like, trying to keep in mind common device screen widths.
 */
@media (min-width: 769px) {
    
    
    section.whole {
        margin-left: 20%;
    }



    header {
        height: 500px;
        width: 15%;
        background-color: #201E00;
        border-radius: 0 0 100px 0;
    }
    
    header li a{
        display: block;
        padding-top: 40px;
    }
    
    a {
        font-family: "Exo-Light";
        font-size: 14px;
        text-decoration: none;
        color: #EBEBDF;
        text-align: left;
    }
    
    ul.nav-menu {
    padding-left: 15px;
    }

    .double-arrow {
    height:150px;
    width:200px;
    background-image: url(../img/double-arrow.jpg);
  }

  .animation {  
    height:150px;
    width:200px; 
    background-image: url(../img/NGANIMATION.jpg);
  }

  .animation:hover {  
    height:150px;
    width:200px; 
    background-image: url(../img/NGANIMATIONOnce.gif);
  }

  .animation2 {
    height:150px;
    width:200px;
    background-image: url(../img/animation.jpg);
  }

  .animation2:hover {  
    height:150px;
    width:200px; 
    background-image: url(../img/animation.gif);
    }

    .soundimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/earguy.jpg)
    }

    .soundimage:hover {
    height: 300px;
    width: 400px;
    background-image: url(../img/soundwaveguy.jpg);
    }

    .textimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/pencilguy.jpg)
    }

    .textimage:hover {
    height: 300px;
    width: 400px;
    background-image: url(../img/textguy.jpg)
    }

    .soundandsightimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/eyeandearguy.jpg)
    }

    .soundandsightimage:hover {
    height: 300px;
    width: 400px;
    background-image: url(../img/soundandlightwaveguy.jpg)
    }

    .light {
    height: 300px;
    width: 400px;
    background-image: url(../img/eyeguy.jpg)
    }

    .light:hover {
    height: 300px;
    width: 400px;
    background-image: url(../img/lightwaveguy.jpg)
    }

}


@media(min-width: 321px) and (max-width: 768px) {  
    
     section.whole {
        margin-left: 25%;
    }

    header {
        height: 500px;
        width: 20%;
        background-color: #201E00;
        border-radius: 0 0 100px 0;
    }
    
    header li a {
    
        display: block;
        padding-top: 30px;
    }
    
    a {
        font-family: "Exo-Light";
        font-size: 11px;
        text-decoration: none;
        color: #FFFFCC;
        text-align: left;
    }
    
    ul.nav-menu {
    padding-left: 10px;
    }

    .double-arrow {
    height:150px;
    width:200px;
    background-image: url(../img/double-arrow-v.jpg);
  }

  .animation {  
    height:150px;
    width:200px; 
    background-image: url(../img/NGANIMATIONOnce.gif);
  }

    .animation2 {  
    height:150px;
    width:200px; 
    background-image: url(../img/animation.gif);
    }


    .soundimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/soundwaveguy.jpg)
    }

    .textimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/textguy.jpg)
    }


    .soundandsightimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/soundandlightwaveguy.jpg)
    }

    .light {
    height: 300px;
    width: 400px;
    background-image: url(../img/lightwaveguy.jpg)
    }
}

@media only screen and (max-width: 320px) and (orientation: portrait) {
    
    section.whole {
        margin-left: 35%;
    }

    header {
        height: 500px;
        width: 30%;
        background-color: #201E00;
        border-radius: 0 0 100px 0;
    }

    header li a {
        display: block;
        padding-top: 20px;
    }

    ul.nav-menu {
        padding-left: 5px;
    }
    
    a {
        font-family: "Exo-Light";
        font-size: 6px;
        text-decoration: none;
        color: #FFFFCC;
        text-align: left;
    }

    .double-arrow {
    height:150px;
    width:200px;
    background-image: url(../img/double-arrow-v.jpg);
  }

  .animation {  
    height:150px;
    width:200px; 
    background-image: url(../img/NGANIMATIONOnce.gif);
  }

  .animation2 {  
    height:150px;
    width:200px; 
    background-image: url(../img/animation.gif);
    }


    .soundimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/soundwaveguy.jpg)
    }

    .textimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/textguy.jpg)
    }


    .soundandsightimage {
    height: 300px;
    width: 400px;
    background-image: url(../img/soundandlightwaveguy.jpg)
    }

    .light {
    height: 300px;
    width: 400px;
    background-image: url(../img/lightwaveguy.jpg)
    }
}



